:host{
    display:block;
    height:100%;
}

.sidebar{

    width:280px;

    height:100%;

    overflow-y:auto;

    background:white;

    border-right:1px solid #e8e8e8;

    padding:20px 15px;

}

/* Brand */

.brand{

display:flex;

align-items:center;

gap:12px;

margin-bottom:25px;

}

.brand-logo{

width:42px;

height:42px;

background:#4f63f0;

color:white;

display:flex;

justify-content:center;

align-items:center;

border-radius:10px;

font-weight:bold;

}

.brand-text{

font-size:22px;

font-weight:700;

}

.brand-text span{

color:#4f63f0;

}

/* Section */

.section{

margin-bottom:30px;

}

.section-title{

font-size:11px;

font-weight:700;

text-transform:uppercase;

color:#9a9a9a;

margin-bottom:12px;

padding-left:10px;

letter-spacing:1px;

}

/* Menu */

.item{

display:flex;

align-items:center;

gap:14px;

padding:11px 14px;

margin-bottom:4px;

border-radius:10px;

text-decoration:none;

color:#444;

transition:.25s;

font-weight:500;

}

.item i{

font-size:18px;

width:22px;

text-align:center;

}

.item:hover{

background:#eef2ff;

color:#4f63f0;

}

.active{

background:#4f63f0;

color:white !important;

}

.active i{

color:white;

}

/* Scroll */

.sidebar::-webkit-scrollbar{

width:8px;

}

.sidebar::-webkit-scrollbar-thumb{

background:#d0d0d0;

border-radius:20px;

}

.sidebar::-webkit-scrollbar-track{

background:#fafafa;

}