<div class="top-strip"></div>

<header class="header">

    <div class="logo">

        <div class="logo-box">

            SCM

        </div>

        <div class="logo-text">

            SCM <span>PRO</span>

        </div>

    </div>

    <nav>

        <a routerLink="/dashboard">Home</a>

        <a routerLink="/users">Order Tracking</a>

        <a routerLink="/inventory">About Us </a>

        <a routerLink="/procurement">Report</a>

        <a routerLink="/logistics">Service</a>

    </nav>

    <div class="actions">

        <button class="notification">

            🔔

        </button>

        <button class="message">

            Message

        </button>

        <button class="message">

            Login

        </button>

        <div class="profile">

            <div class="avatar">

                A

            </div>

            <span>Admin</span>

        </div>

    </div>

</header>